body {
  background: #2a2a2a;
}

.container {
  margin: auto;
  width: 50%;
}

.buttons {
  margin-left: 45%;
  margin-top: 20px;
}

.gameBoard {
  width: 675px;
  height: 675px;
}

.row {
  background: black;
  width: 675px;
  height: 15px;
}

.tile {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid silver;
}

.alive {
  background: red;
}

#start {
    pointer-events: none;
    background: #ff6666;
}

h1 {
  margin-left: 40%;
  color: white;
}

#start, #stop, #clear {
  width: 50px;
  height: 30px;
  border-radius: 5px;
}

#stop {
  margin-left: 10px;
  margin-right: 10px;
}

p {
  margin-left: 35px;
  color: white;
}
